aniso8601==9.0.1
certifi==2024.2.2
charset-normalizer==2.0.12
click==8.0.4
dataclasses==0.8
filelock==3.4.1
Flask==2.0.3
Flask-RESTful==0.3.10
huggingface-hub==0.4.0
idna==3.6
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.1
MarkupSafe==2.0.1
numpy==1.19.5
packaging==21.3
pkg_resources==0.0.0
pyparsing==3.1.2
pytz==2024.1
PyYAML==6.0.1
regex==2023.8.8
requests==2.27.1
sacremoses==0.0.53
semantic-version==2.10.0
setuptools-rust==1.1.2
six==1.16.0
tokenizers==0.12.1
torch==1.10.2
tqdm==4.64.1
transformers==4.18.0
typing_extensions==4.1.1
urllib3==1.26.18
Werkzeug==2.0.3
youtube-transcript-api==0.6.2
zipp==3.6.0
